.navbar-main-container {
  display: flex;
  justify-content: center;
}

.nav-float {
  position: fixed;
  top: 60px;
  z-index: 999;
  display: flex;
  justify-content: center;
  align-items: center;
  pointer-events: auto;
  width: 90%;
}

.nav-container {
  width: min(1000px, 90%);
  background: rgba(255, 255, 255, 0.06);
  backdrop-filter: blur(6px);
  border-radius: 14px;
  padding: 14px 26px;
  box-shadow: 0 8px 24px rgba(3, 10, 20, 0.6), inset 0 1px 0 rgba(255, 255, 255, 0.04);
  border: 0.5px solid #FFF;
}

.navbar-brand {
  font-weight: 600;
  color: #fff;
}

.nav-links {
  display: flex;
  gap: 10px;
  align-items: center;
  margin-right: 10px;
}

.nav-link {
  position: relative;
  padding: 8px 8px;
  color: #fff;
  text-decoration: none;
  border-radius: 18px;
  transition:
    border-color 0.7s ease 0.25s,
    border-radius ease 0.25s,
    color 0.7s ease 0.25s,
    background 0.7s ease 0.25s;
  font-size: 14px;
  border: 1px solid transparent;
  min-width: max-content;

}

.nav-links a {
  color: #1c1d1d;
  text-decoration: none;
  font-weight: 500;

}

.nav-link::before {
  content: "";
  position: absolute;
  inset: 0;
  transition:
    border-color 0.7s ease 0.25s,
    border-radius ease 0.25s,
    color 0.7s ease 0.25s,
    background 0.7s ease 0.25s;
  z-index: -1;
  border-radius: 18px;
}

.nav-link:hover {
  border: 1px solid rgb(209, 207, 207);
  background: linear-gradient(90deg, #0455b9, #00c6ff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  border-radius: 18px;
  transition:
    border-color 0.7s ease 0.25s,
    border-radius ease 0.25s,
    color 0.7s ease 0.25s,
    background 0.7s ease 0.25s;
  transform: scale(1.06);


}

.nav-link:hover::before {
  transition:
    border-color 0.7s ease 0.25s,
    border-radius ease 0.25s,
    color 0.7s ease 0.25s,
    background 0.7s ease 0.25s;
  border-radius: 18px;
  background-color: rgba(255, 255, 255, 0.089);

}

.nav-search {
  margin-left: auto;
  display: flex;
  align-items: center;
}

@media (max-width: 768px) {
  .nav-links {
    display: none;
  }


}

.mobile-only {
  display: none;
}

.nav-left {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.mobile-only {
  display: none;
}

.nav-left {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.mobile-menu {
  position: fixed;
  top: 100px;
  left: 0;
  background: #001328;
  background: linear-gradient(#63748a, #001328);
  z-index: 9999;
  width: 380px;
  display: flex;
  flex-direction: column;
  gap: 18px;
  overflow-y: auto;
  max-height: 0;
  /* overflow: hidden; */
  opacity: 0;
  padding: 0 20px;
  margin: 30px 0 0 80px;
  transition: max-height 0.35s ease, opacity 0.35s ease;
}

.mobile-menu.open {
  max-height: 400px;
  /* Enough for links */
  opacity: 1;
  padding: 20px;
  max-width: 380px;
  border-radius: 10px;
  margin: 30px 0 0 80px
}


.mobile-menu a {
  color: white;
  font-size: 18px;
  text-decoration: none;
}

@media (max-width: 480px) {
  .mobile-menu {
    width: 270px;
    margin: 30px 0 0 30px;
  }

  .mobile-menu.open {
    max-height: 400px;
    opacity: 1;
    padding: 20px;
    max-width: 270px;
    border-radius: 10px;
    margin: 30px 0 0 30px
  }
}

@media (max-width: 768px) {
  .desktop-only {
    display: none;
  }

  .mobile-only {
    display: block;
    background: none;
    border: none;
    color: white;
  }

  .nav-links {
    display: none !important;
  }
}

@media (min-width: 901px) {
  .mobile-menu {
    display: none !important;
  }
}