.contact-section {
  background: #07243b;
  padding: 80px 20px;
  color: #fff;
}

.contact-container {
  max-width: 860px;
  margin: auto;
  display: flex;
  align-items: flex-start;
  padding: 50px 50px;
  border: 1px solid white;
  border-radius: 32px;
  background: rgb(255 255 255 / 10%);
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
}


.contact-left {
  width: 45%;
  padding: 0 20px 0 0;
}

.contact-title {
  font-size: 40px;
  background: linear-gradient(135deg, #E04A00, #FF915C);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-bottom: 10px;
}

.contact-subtext {
  font-size: 18px;
  margin-bottom: 20px;
  color: #FFF;
  font-weight: 300;
}

.contact-address {
  display: flex;
  align-items: flex-start;
  gap: 10px;
  font-size: 18px;
  line-height: 1.5;
  color: #FFF;
  font-weight: 300;
}

.address-img {
  width: 22px;
  height: 15px;
  object-fit: contain;
  margin-top: 5px;
}

.contact-right {
  width: 55%;
}

.contact-card {
  background: rgba(255, 255, 255, 0.05);
  backdrop-filter: blur(8px);
  padding: 35px;
  border-radius: 22px;
  box-shadow: 0px 18px 45px rgba(0, 0, 0, 0.35);
  animation: fadeInUp 0.6s ease-out;
}

.input-field {
  width: 80%;
  background: #1B3A62;
  border: 1px solid #01295C;
  padding: 14px 18px;
  border-radius: 14px;
  color: #fff !important;
  font-size: 15px;
  transition: 0.25s ease;
}

.input-field::placeholder {
  color: rgba(255, 255, 255, 0.7);
}

.input-field:focus {
  outline: none;
  background: rgba(255, 255, 255, 0.12);
}

.textarea {
  resize: none;
}

.form-group {
  margin-bottom: 18px;
}

.error-text {
  font-size: 13px;
  margin-top: 4px;
  font-weight: 500;
  color: #f36d2a;
}

.submit-btn {
  width: 90%;
  padding: 14px;
  border-radius: 14px;
  background: linear-gradient(90deg, #E04A00, #FF915C);
  border: none;
  color: #fff;
  font-weight: 500;
  font-size: 17px;
  cursor: pointer;
  transition: transform 0.25s ease, box-shadow 0.25s ease;
}

.submit-btn:hover {
  transform: translateY(-3px);
  box-shadow: 0px 10px 25px rgba(255, 136, 69, 0.4);
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(15px);
  }

  to {
    opacity: 1;
  }
}

@media (max-width: 768px) {
  .contact-container {
    flex-direction: column;
  }

  .contact-left,
  .contact-right {
    width: 100%;
  }
}